<nz-table #fixedTable [nzData]="listOfData" [nzScroll]="{ x: '1150px', y: '240px' }">
    <thead>
        <tr>
            <th nzLeft>Full Name</th>
            <th>Username</th>  
            <th>E-mail</th>          
            <th nzRight>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of fixedTable.data">
            <td nzLeft>{{ data.fullname }}</td>
            <td>{{ data.username }}</td>
            <td>{{ data.mail }}</td>
            <td nzRight>
                <a>action</a>
            </td>
        </tr>
    </tbody>
</nz-table>
