.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  }

  [nz-menu] {
    line-height: 64px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  nz-content {
    padding: 0 500px;
  }

  nz-footer {
    text-align: center;
  }
  nz-header {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
  }

  .inner-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }