<nz-layout>
    <nz-header></nz-header>
    <nz-content>
        <div class="inner-content">
            <form nz-form [formGroup]="validateForm" class="login-form" >
                <div nz-row [nzGutter]="16">
                        <div nz-col class="gutter-row" [nzSpan]="8"></div>
                        <div nz-col class="gutter-row" [nzSpan]="8">
                            <nz-form-item>
                                <nz-form-control nzErrorTip="Please input your username!">
                                    <nz-input-group nzPrefixIcon="user">
                                        <input type="text" nz-input formControlName="username" placeholder="Username" />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col class="gutter-row" [nzSpan]="8"></div>                   
                </div>
                <div nz-row [nzGutter]="16">
                    <div nz-col class="gutter-row" [nzSpan]="8"></div> 
                    <div nz-col class="gutter-row" [nzSpan]="8">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Please input your Password!">
                                <nz-input-group nzPrefixIcon="lock">
                                    <input type="password" nz-input formControlName="password" placeholder="Password" />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div> 
                    <div nz-col class="gutter-row" [nzSpan]="8"></div> 
                </div>
                
                <div nz-row [nzGutter]="16">
                        <div nz-col class="gutter-row" [nzSpan]="8"></div> 
                        <div nz-col class="gutter-row" [nzSpan]="8">
                                <div nz-row [nzGutter]="16">
                                    <div nz-col class="gutter-row" [nzSpan]="8"><button nz-button  (click)="submitForm()" class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button></div>
                                    <div nz-col class="gutter-row" [nzSpan]="8"><button nz-button (click)="resetForm()">reset</button></div>                        
                                </div>
                        </div>
                        <div nz-col class="gutter-row" [nzSpan]="8"></div>
                   
                </div>
                
                
            </form>
        </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>