<nz-layout class="layout">
        <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
          <div class="logo"></div>
          <ul nz-menu nzTheme="dark" nzMode="inline">
            <li nz-menu-item>
              <i nz-icon nzType="user"></i>
              <span routerLink="/homepage/admin">Admin</span>
            </li>
            <li nz-menu-item>
              <i nz-icon nzType="file"></i>
              <span routerLink="/homepage/tutorials">Tutorials  </span>
            </li>
            <li nz-menu-item>
              <i nz-icon nzType="upload"></i>
              <span routerLink="/homepage/accountupdate">Account Update</span>
            </li>
            <li nz-menu-item>
              <i nz-icon nzType="logout"></i>
              <span routerLink="/logout">logout</span>
            </li>
          </ul>
        </nz-sider>
        <nz-layout>
          <nz-header> 
            <div nz-row >
                <div nz-col nzSpan="8" nzOffset="10" nzAlign="middle" >
                    <h3> 004 - SpringMVC + Spring + Spring Security + Spring JDBC + H2 作业</h3>
                </div>
            </div>
          </nz-header>
          <nz-content style="margin-top:20px;">
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
          </nz-content>
          <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
        </nz-layout>
      </nz-layout>

